
.paw{
    width: 105px;
    height: 97px;
    background-image: url("../../assets/paw.png");
    background-color:  rgba(255, 0, 0, 0);
    transform: scale(.5);
    border: none;
}
.tablabel{
    margin-bottom: -50px;
    color: White;
    font-size: 20px;
}